#catalogPage {
	height: 85vh;
}

#catalogPage>div {
	display: flex;
	position: relative;
}

.catalogText,
.catalogPic {
	flex: 1;
}

.catalogText {
	display: flex;
	align-items: center;
}

.catalogPic {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scrollIndicator {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(0, 0, 0, 0.5);
}

#catalogList {
	min-height: 75vh;
}

#catalogList > div {
	margin: 5rem auto;
}

#catalogList form > input[type=text] {
	width: 100%;
}

#catalogList .catalogListItems table {
	width: 100%;
	border-spacing: 0 1rem;
}

#catalogList .catalogListItems table thead {
	background-color: var(--main-accent);
	color: var(--white);
}

#catalogList .catalogListItems table th,
#catalogList .catalogListItems table td {
	/* border: 1px solid black; */
	padding: 0.5rem;
	text-align: center;
}

#catalogList .catalogListItems table th:first-child,
#catalogList .catalogListItems table td:first-child {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

#catalogList .catalogListItems table th:last-child,
#catalogList .catalogListItems table td:last-child {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

#catalogList .catalogListItems table td {
	background-color: var(--dark-gray);
}

#catalogList .catalogListItems table td > a {
	display: block;
}

@media (max-width: 480px) {
	.mobileContainer{
		width: 85%;
		padding: 3em 0;
	}

	.mobileSectionTextFont {
		font-size: 16px;
		letter-spacing: 0.5px;
	}

	#catalogPage > div, #catalogList > div {
		padding: 3em 0;
	}

	#catalogPage {
		height: 100%;
	}

	#catalogPage > div {
		flex-direction: column-reverse;
	}

	.catalogText {
		align-items: baseline;
		margin-top: 2em;
	}

	.catalogPic > img {
		width: 95% !important;
	}

	
	.scrollIndicator {
		display: none;
	}

	.catalogListItems thead,
	.catalogListItems tbody,
	.catalogListItems th,
	.catalogListItems td{
		display: block;
		width: 100%;
		padding: 0 !important;
		
	}

	.catalogListItems thead {
		display: none;
	}

	.catalogListItems tr {
		display: grid;
		grid-template-columns: 0.20fr 1fr;
		grid-template-rows: 0.5fr 0.25fr 0.25fr;
		align-items: center;
		padding: 0.5rem 0;
		margin: 2em 0;
		background-color: var(--dark-gray);
		border-radius: 15px;

	}

	.catalogListItems td:first-child{
		grid-column:  1/2;
		grid-row: 1/4;
	}

	.catalogListItems td:first-child p{
		display: none;
	}

	.catalogListItems td:not(:first-child) a {
		text-align: start;
		padding: 0.25rem 0.75rem;
		font-size: 18px;
	}

	.catalogListItems td:nth-child(2) a {
		font-weight: 700;
	}

}