#heroPage {
	height: 85vh;
}

#heroPage > div {
	display: flex;
	position: relative;
}

.heroText, .heroPic {
	flex: 1;
}

.heroText {
	display: flex;
	align-items: center;
}

.heroText .heroButtonDiv {
	display: flex;
	justify-content: space-evenly;
}

.heroText .heroButtonDiv > * {
	margin: 0;
}

.heroPic {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scrollIndicator {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(0,0,0, 0.5);
}

#examplePage {
	height: 100vh;
	background-color: var(--gray);
}

#examplePage > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

#aboutPage {
	height: 50vh;
	background-color: var(--gray);
}

#aboutPage > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

#aboutPage .aboutText {
	text-align: center;
}

#catalogPage {
	height: 75vh;
	background-color: var(--gray);
}

#catalogPage > div {
	display: flex;
}


.catalogText {
	flex: 1;
	display: flex;
	align-items: center;
}

.catalogPic {
	flex: 2;
	display: flex;
	justify-content: end;
	align-items: center;
}