#notFoundPage {
	text-align: center;
	height: 65vh;
}

#notFoundPage > div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.errorPicture {
	height: 100px;
	padding-bottom: 1rem;
}

@media (max-width: 480px) {
	#notFoundPage {
		height: 100%;
	}

	#notFoundPage > div {
		padding: 0 0 5em 0;
	}

	.errorPicture {
		height: 100%;
		margin: 5em 0;
	}

	.errorPicture > img {
		height: 200px !important;
		
	}
}
