/* BUTTON */
.buttonDiv {
	margin: 2em auto;
}

.roundButton {
	padding: 10px 25px;
	color: var(--white);
	font-family: var(--title-font);
	background-color: var(--main-accent);
	font-size: inherit;
	font-weight: inherit;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 5px;
	cursor: pointer;
}

.altRoundButton {
	padding: 10px 25px;
	color: var(--white);
	font-family: var(--title-font);
	background: none;
	font-size: inherit;
	font-weight: inherit;
	border: 1px solid var(--main-accent);
	border-radius: 5px;
	cursor: pointer;
}

.roundButton:hover {
	background-color: inherit;
	color: var(--main-accent);
	border: 1px solid var(--main-accent);
	transition: 0.1s;
}

.altRoundButton:hover {
	background-color: var(--white);
	color: var(--black);
	transition: 0.1s;
}

.roundButton:not(:hover),
.altRoundButton:not(:hover) {
	transition: 0.1s;
}

/* BUTTON */

@media (max-width: 480px) {
	.buttonDiv {
		margin: 0;
	}
}
