nav#navbar {
	height: 15vh;
	width: 100%;
	background-color: var(--gray);
}

nav#navbar > div,
nav#mapNavbar > div {
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.navLogoSide,
.navLinkSide {
	display: flex;
	align-items: center;
}

.navLogoSide .navLogoImg {
	aspect-ratio: 1/1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navLogoSide .navLogoImg a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navLogoSide .navLogoText {
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 32px;
}

.navLinkSide ul {
	display: flex;
	justify-content: space-between;
}

.navLinkSide ul li {
	display: flex;
	align-items: center;
	margin: 0 2em;
	font-family: var(--secondary-font);
	font-weight: 600;
	font-size: 16px;
}

.navMenu {
	display: none;
}

nav#mapNavbar {
	height: 5rem;
	width: 100%;
	background-color: var(--main-accent);
	color: var(--white);
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

@media (max-width: 480px) {
	.navLogoText,
	.navLinkSide {
		display: none;
	}

	.navLogoImg > a {
		justify-content: start !important;
	}

	.navMenu {
		display: flex !important;
	}

	.navMenu .navMenuImg {
		aspect-ratio: 1/1;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	.navMenuBars {
		font-size: 3.25rem !important;
		padding: 1rem;
	}

	#mapNavbar > div {
		padding: 0 1.5rem;
	}

	#mapNavbar .navMenuBars {
		font-size: 2.5rem !important;
	}
}
