#mapPage {
	height: 100vh;
	width: 100%;
	position: relative;
}

#mapPage .infoMenu {
	position: absolute;
	/* height: 75vh; */
	width: 25vw;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
	top: 5%;
	left: 2.5%;
	transform: translate(-2.5%, -5%);
	z-index: 2;
}

#mapPage .infoMenu .infoPart {
	background-color: white;
	height: 85%;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	width: 100%;
}

#mapPage .infoMenu .infoPart > div {
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 1rem;
	width: 90%;
}

.infoPart > div > .infoLocations {
	flex: 2;
}

.infoPart > div > .infoLocations > form > div > div {
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0;
}

.infoPart > div > .infoLocations > form > div > div > div {
	display: flex;
	width: 100%;
	margin: auto;
}

.infoPart > div > .infoLocations > form > div > div > div > input {
	flex: 4;
}

.infoPart > div > .infoLocations > form > div > div > div > div {
	flex: 1;
	margin: auto;
}

.infoPart > div > .infoLocations > form > div > div:nth-child(2) {
	display: none;
}

.infoPart > div > .infoLocations > form > .submitDiv {
	display: block;
	padding: 1rem 0;
}

.infoPart > div > .infoLocations > form > .submitDiv > div {
	justify-content: center;
}


.infoPart > div > .infoMeta {
	flex: 3;
}

.infoPart > div > .infoMeta > div {
	padding: 1rem;
}

.infoPart > div > .infoMeta > div > div {
	display: flex;

}

.infoPart > div > .infoMeta p {
	padding-bottom: 0.5rem;
}

.infoPart > div > .infoMeta span,
.infoPart > div > .infoMeta img {
	padding-right: 1rem;
}


#mapPage .mapPart {
	height: 100%;
	width: 100%;
	z-index: 1;
}

@media (max-width: 480px){
	#mapPage .infoMenu {
		width: 85%;
		transform: translateX(-50%);
		left: 50%;
		top: 2.5%;
		position: absolute;
		border-radius: 2rem;
	}

	.line, .infoPart .infoMeta {
		display: none !important;
	}

	.originSearch input, .destSearch input,
	.originSearch i, .destSearch i {
		display: none !important;
	}


	.infoPart > div > .infoLocations > form > div,
	.infopart > div > .infoLocations > form > .submitDiv {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0 !important;
	}

	.infoPart > div > .infoLocations > form > div > div {
		flex: 1;
		align-items: center;
	}

	.infoPart > div > .infoLocations > form > div > div:nth-child(2) {
		display: flex !important;
		width: 100px;
	}

	.infoPart > div > .infoLocations > form > div > div > div {
		flex-direction: column;
	}

	.originSearch, .destSearch {
		align-items: center;
		/* padding: 0.5rem 1rem !important; */
		/* margin: 1rem 0; */
	}

	.originSearch label, .destSearch label{
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 1rem;
	}

	.submitDiv > .buttonDiv{
		margin: 0;
	}

}